/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Ranchers', cursive;
    background-color: rgb(224, 224, 224);
}
.image {
    margin: 10px;
    border-radius: 50px;
    width: 200px;
    height: 150px; 
}